body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

header{
    display: flex;
    width: 100%;
    height: 16vh;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: 20% 85%;
    background-image: url("./img/design1_image1.jpg");
}

nav{
    display: flex;
    height: 6vh;
    width: 100%;
    font-size: 2vh;
}

footer{
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-top: 10%;
    padding-top: 2vh;
    font-family: 'Ubuntu', sans-serif;
    align-self: flex-end;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(251, 253, 255, 0.901);
    padding: 3vh;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 2px rgba(1, 4, 9, 0.666);
    font-size: 3.5vh;
    font-weight: bolder;
}

h3{
    color: rgb(80, 118, 255);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 3vh;
}

h4{
    color: rgb(245, 16, 225);
    font-family: 'Montserrat', sans-serif;
    left: 3vh;
    position: relative;

}

p{
    color:#1f0000;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: justify;
    position: relative;
    left: 3vh;
    margin: 1vh;
    width: 90%;
}

b{
    color: rgb(245, 16, 225);
}


li{
    font-family: 'Ubuntu', sans-serif;
}

th{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: rgb(0, 0, 0);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 2vh;
}

a{
    height: 100%;
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 3vh;
    padding-right: 3vh;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

legend{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 1vh;
    background-color: black;
    color: white;
    padding: 1vh;
    box-shadow: 1px 1px 3px rgba(16, 119, 159, 0.688);
}

fieldset{
    border-radius: 1vh;
    border-width: 0;
    background-color: aliceblue;
    margin-top: 1vh;
}

fieldset:hover{
    box-shadow: 1px 1px 3px rgba(16, 119, 159, 0.688);
}

a:visited{
    color: rgb(255, 246, 246);
}

a:hover{
    font-weight: bold;
    color: crimson;
    background: white;
}

table{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: medium;
    padding: 2vh;
    width: 95%;
}

.formulario td{
    padding: 1vh;
    text-align: justify;
    width: 50%;
}

.formulario td:hover{
    background-color: crimson;
    color: white;
}

.formulario input[type="text"]{
    border: none;
    border-bottom: solid 2px black;
    max-width:  100%;
    min-width: 60%;
    padding: 3px;
}

.formulario input[type="date"]{
    border: none;
    border-bottom: solid 2px black;
    padding: 3px;
}

input[type="submit"]{
    width: 10rem;
    padding: 1vh;
    margin-top: 1vh;
    border-radius: 2vh;
    border: none;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
}

input[type="submit"]:hover{
    box-shadow: 1px 1px 3px rgba(16, 119, 159, 0.467);
    font-weight: bold;
}

.question{
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: rgb(54, 0, 50);
}

.calendario tbody{
    color: rgb(255, 255, 255);
    text-align: center;
    background: crimson;
}

.calendario td{
    padding: 1vh;
}

.calendario td:hover{
    background: white;
    color: blueviolet;
    font-weight: bold;
}

.titulo{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.cuerpo{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.texto{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    justify-content: center;
}

.cursiva{
    font-style: italic;
}

.calendario{
    padding: 3vh;

}

.piehori{
    display: flex;
}

.redes{
    display: flex;
    align-self: flex-start;
}

.correo{
    display: inline-block;
    padding: 0vh;
    background: rgba(255, 0, 0, 0);
    color: black;
    font-size: medium;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.correo:hover{
    color: brown;
    text-transform: none;
}

#pieinfo{
    display: flex;
    flex-direction: column;
}

#img_cuerpo1{
    height: 50vh;
    width: 50vh;
    background-image: linear-gradient(crimson 0%,rgba(0, 0, 255, 0) 34%, white 87%), url("./img/design2_image1.jpg");
    background-size: 300%;
    background-position: 5% 10%;
    background-repeat: no-repeat;
}


#img_cuerpo2{
    height: 180vh;
    width: 10vh;
    background-image: linear-gradient(crimson 0%,rgba(0, 0, 255, 0) 34%, white 60%), url("./img/hockey2.jpg");
    background-size: 1500%;
    background-position: 70% 0%;
    background-repeat: no-repeat;
}


#img_cuerpo3{
    height: 100vh;
    width: 50vh;
    background-image: linear-gradient(crimson 0%,rgba(0, 0, 255, 0) 34%, white 87%), url("./img/design1_image1.jpg");
    background-size: 400%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#img_cuerpo4{
    height: 50vh;
    width: 50vh;
    background-image: linear-gradient(crimson 0%,rgba(0, 0, 255, 0) 34%, white 87%), url("./img/hockey1.jpg");
    background-size: 200%;
    background-position: 30% 0%;
    background-repeat: no-repeat;
}

#img_cuerpo5{
    height: 180vh;
    width: 25vh;
    background-image: linear-gradient(crimson 0%,rgba(0, 0, 255, 0) 34%, white 39%), url("./img/hockey3.jpg");
    background-size: 500%;
    background-position: 75% 0%;
    background-repeat: no-repeat;
}

#img_cuerpo6{
    width: 25vh;
    height: 50vh;
    background-image: linear-gradient(crimson 0%,rgba(0, 0, 255, 0) 34%, white 80%), url("./img/hockey3.jpg");
    background-size: 500%;
    background-position: 70% 0%;
    background-repeat: no-repeat;
}

#img_cuerpo1:hover, #img_cuerpo2:hover, #img_cuerpo3:hover, #img_cuerpo4:hover, #img_cuerpo5:hover, #img_cuerpo6:hover {
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
  }


#logo{
    height: 10vh;
    margin-left: 2vh;
    image-rendering: crisp-edges;
}

#iniciofoot{
    display: flex;
    flex-direction: row;
    height: 80%;
}

#credits{
    display: flex;
    width: 50%;
    padding: 3vh;
    color: rgb(0, 0, 0);
    background-color: crimson;
    align-items: center;
}

#socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:50%;
    padding: 3vh;
    background-color: rgb(0, 0, 0);
    align-items: center;
    color: white;
}

#linksmedia{
    display: flex;
    flex-direction: row;
    border-radius: 1vh;
    padding: 1vh;
    height: 60%;
    background-color: rgb(0, 0, 0);
}

#linksmedia a{
    background-color: rgb(0, 0, 0);
}

#linksmedia img{
    width: 3vh;
}

#finfoot{
    display: flex;
    padding: 3vh;
    color: rgb(205, 0, 41);
    justify-content: center;
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
}